.videos-search-result-container{

    width: 100%;
    height: auto;
    /* background-color: yellow; */
  
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 10px;
  
    text-decoration: none;
  }
  
  .video-search-result-container{
  
    width: 100%;
    height: 220px;
  
    display: flex;
    gap: 10px;
  }
  .video-search-result-container-img{
    width: 30%;
    height: 100%;
    border-radius: 10px;
  }
  .video-search-result-description{
  
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
  
  }
  
  .video-search-result-short-description{
  
    width: 100%;
    /* height: 100%; */
  
    font-size: 1.25rem;
    /* line-height: 2.2rem; */
    font-weight: 400;
    color: whitesmoke;
  }
  
  .video-search-result-reach{
  
    width: 200px;
    height: 20px;
  
    display: flex;
    /* justify-content: center; */
    align-items: center;
  
    padding-top:2px;
    gap: 5px;
    color: whitesmoke;
  }
  
  .video-search-result-views{
    width: auto;
    height: 20px;
    font-size: 12px;
  }
  
  .video-search-result-update-time{
    width: auto;
    height: 20px;
  
    color: whitesmoke;
    font-size: 12px;
  
  }
  
  .video-search-result-channel-name{
    /* width: 100%; */
    /* height: 20%; */
  
    display: flex;
    flex-direction: row;
    padding-top: 5px;
  
    align-items: center;
    gap: 8px;
  }
  
  .search-result-channel-profile-picture{
    width: 30px;
    height: 30px;
  
    border-radius: 50%;
  }
  
  .search-result-channel-name{
    font-size: 14px;
    color: whitesmoke;
  }
  
  .search-result-channel-verified{
    width: 14px;
    height: 14px;
  }
  
  .video-search-result-long-description{
  
    color: whitesmoke;
    padding-top: 15px;
  
    font-size: 12px;
  }